*{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background-color: #eeeeee;
}

.navbar{
    place-content: center flex-start;
    align-items: center;
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex: 0 0 auto;
    flex-flow: row;
    gap: 15px;
    height: 80px;
    left: 0px;
    overflow: visible;
    padding: 30px;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 10;
    background: transparent;
    float: right;
}
.logo {
    width : 120px;
    margin: 0;
    cursor: pointer;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-weight: bold;
   
}
.navbar ul li a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    
}
.content {
    font-size: 70px;
    margin-top: 200px;
    text-align: center;

}
.content h1 {
    letter-spacing: normal;
    line-height: 50px;
    font-family: 'Barriecito', cursive;
}
.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 100px;
    font-size: 40px;
    }
#grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-auto-rows: 50vh;
        grid-gap: 10px;}
.img-gallery > img {
    float: center;
    width:  375px;
    height: 375px;
    object-fit: cover;
    
}
.img-gallery{
    width: 80%;
    margin: 100px auto 50px;
}
.img-gallery img{
cursor: pointer;
}
.img-gallery img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 50px;
    box-shadow: 0 32px 75px rgba(68, 77, 136, 0.4);
}

footer {
    text-align: center;
}
